ul{
        text-align: right;
        display: block ruby;
        list-style-type: none;
        word-spacing: 3vh;
        font-weight: bold;   
        font-size: x-large; 
        padding: 0vh 19vh 0vh 5vh;
        margin: -2vh 1vh -5vh 6vh;
     }
     a:link {
        text-decoration: none;
     }
     a:hover {
        color:red;
}